<%- include('header.ejs'); %>

<div class="container">
    <div class="card card-container">
        <h1 style="text-align: center; margin-bottom: 20px; font-weight: 700;">Change Password</h1>

        <div id="alertMessage" class="alert" role="alert" style="display: none !important">
            <strong></strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <form id="accountsettings" class="form-signin" enctype="multipart/form-data">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="password" name="oldPassword" id="" class="form-control" placeholder="Old Password" autofocus>
            <input type="password" name="newPassword" id="" class="form-control" placeholder="New Password" autofocus>
            <input type="password" name="confirmNewPassword" id="" class="form-control" placeholder="Confirm New Password" autofocus>
            <button id="updateProfileButton" class="btn btn-success" type="submit">Change Password</button>
        </form><!-- /form -->

        <a href="/dashboard" class="forgot-password">
            Back to Dashboard
        </a>
    </div><!-- /card-container -->
</div><!-- /container -->