<%- include('header.ejs'); %>

<% if(accessToken) { %>

<div class="container">
    <div class="card card-container">
        <h1 style="text-align: center; margin-bottom: 20px; font-weight: 700;">Change Password</h1>
        <h6 style="text-align: center;">USER ID: <%= user.userID %></h6>
        <div id="alertMessage" class="alert" role="alert" style="display: none !important">
            <strong></strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <form id="changepassword" class="form-signin" enctype="multipart/form-data">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="password" name="oldPassword" id="" class="form-control" placeholder="Old Password" autofocus>
            <input type="password" name="newPassword" id="" class="form-control" placeholder="New Password" autofocus>
            <input type="password" name="confirmNewPassword" id="" class="form-control" placeholder="Confirm New Password" autofocus>
            <button id="updateProfileButton" class="btn btn-success" type="submit">Change Password</button>
        </form><!-- /form -->

        <a href="/dashboard" class="forgot-password">
            Back to Dashboard
        </a>
    </div><!-- /card-container -->
</div><!-- /container -->

<% } else { %>

    <h1 style="color: white; text-align: center;">Session Expired. Please <a href="/">Login</a></h1>

<% } %>

<script>
    //Send form data to api //
    document.getElementById("changepassword").addEventListener("submit", function(e) {
    e.preventDefault();
  
    const form = e.target;
    const formData = {
      oldPassword: form.elements.oldPassword.value,
      newPassword: form.elements.newPassword.value,
      confirmNewPassword: form.elements.confirmNewPassword.value,
    };

    console.log(formData);

          //Make a POST request to the API//
          fetch(`/api/v1/changePassword/<%= user.userID%>`, {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(formData),
            credentials: 'include',
          })

          .then(response =>
            response.json()).then(data => {
              console.log(data);

              let message = '';
              let alertClass = '';

              if (data.data.success_msg) {
                alertClass = "alert-success";
                message = data.data.success_msg;

              } else {
                alertClass = "alert-danger";
                message = data.data.message;
              }

              showAlert(message, alertClass);
            })

            .catch((error) => {
              console.error(error);
            });
        });  

    function showAlert(message, alertClass) {
      const alertElement = document.getElementById("alertMessage");
      alertElement.className = `alert ${alertClass}`;
      alertElement.textContent = message;
      alertElement.style.display = "block";
    }


</script>

